#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.2.0
Terminal=false
Type=Application
Name=Paelito
Exec=/opt/saenuma/paelito/paelito
Icon=/opt/saenuma/paelito/paelito.png
