<!DOCTYPE html>
<html>
<head>
  <title>Searching {{.BookTitle}} | Paelito: A book reader.</title>
  <style>
    @font-face {
      src: url("/gs/PatrickHand-Regular.ttf");
      font-family: PatrickHand;
    }
    body {
      background: url("/gs/sprite.png") repeat;
      font-family: PatrickHand;
      font-size: 1.5em;
    }
    #main {
      width: 700px;
      margin: 0 auto;
    }
    input {
      border: 1px solid gray;
      background-color: transparent;
      padding: 5px;
    }
    form div {
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
  <div id="container">
    <div id="main">
      <h2>Type the word to search for in {{.BookTitle}}</h2>
      <form method="post">
        <div>
          <label>Enter Word</label>
          <input type="text" name="word_searched_for" />
        </div>
        <div>
          <input type="submit" value="Search for Word" />
        </div>
      </form>
    </div>
  </div>
</body>
</html>
