#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0.3
Terminal=false
Type=Application
Name=Paelito
Exec=paelito.viewer
Icon=${SNAP}/meta/gui/paelito.png
